/* Import the google web fonts you want to use */

@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans+Condensed:300|Quicksand&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #414b38;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

/* body{
    background-image: url("/images/nature.png");
} */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.section-container{
    padding: 1.5em;
}

.section-content{
    text-align: center;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 50vw;
    padding: 1em;
    margin: 1em;
    border: 1x solid gray;
}

.background-img{
    display: block;
    height: 100vh;
    width: 100vw;

}